<!DOCTYPE html>
<html lang='en'>
<%- include('./partials/head.ejs') %>
<body>
  <h1>Welcome to the website</h1>
  <%- include('./partials/nav.ejs') %>
  <% if (employees.length > 0) { %>
  <h4>Employees (<%= employees.length %>)</h4>
  <% if (message.length > 0) { %>
      <div class='alert alert-success my-3'><%=message %></div>
  <% } %>
  <table class='table table-striped'>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Name</strong></td>
      <td><strong>Extension</strong></td>
      <td><strong>Email</strong></td>
      <td><strong>Title</strong></td>
      <td>&nbsp;</td>
    </tr>
    <% employees.forEach(employee => { %>
    <tr>
            <td>
              <button id='<%= employee.id %>' 
                   class='btn btn-primary btn-sm update'>UPDATE</button>
            </td>
            <td><%= employee.name %></td>
            <td><%= employee.extension %></td>
            <td><%= employee.email %></td>
            <td><%= employee.title %></td>
            <td class='text-end'>
              <button id='<%= employee.id %>' 
                   class='btn btn-danger btn-sm delete'>DELETE</button>
            </td>
    </tr>
    <% }) %>
  </table>
  <% } else { %>
    <p>There are no employees to view</p>
  <% } %>
</body>
<script>
  let table = document.querySelector('table')
  table.addEventListener('click', (e) => {
    let id = e.target.id
    if (e.target.classList.contains('delete')) {
      let url = `http://localhost:5001/${id}`
      fetch(url, {method: 'DELETE' })
        .then(() => window.location.reload())
    } else if (e.target.classList.contains('update')) {
      let url = `http://localhost:5001/update/${id}`
      window.location.href = url
    }
  })
</script>
</html>

<!--
vim: ft=html nu ai et ts=2

-->
